/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery-ui
 */
.menu {
	position: absolute;
	margin-top: 75px;
	margin-left: 25px;
}

#cssmenu > ul {
  width: 120px;
}

#cssmenu > ul li a {
  display: block;
  border-top: 1px solid #FFF;
}

.button:hover {
	color: #ffffff;
	background: #5E88AD;
	background: linear-gradient(#042e53, #4f799e);
	border-color: transparent;
}

.button.btn_active {
	background: linear-gradient(#042e53, #4f799e);
}
.sft {
	margin-top: 10px;
	font-family: 'times new roman', times, serif;
	font-size: 24px;
	font-weight: bold;
	text-shadow: 3px 3px 2px black, 0 0 1em #001d40;
}
._hover a:hover {
	text-decoration: none;
}
a:hover a:focus{
	text-decoration: none;
}

.remove_link {
	color: #323232;
	font-size: 25px;
}

.fields {
	margin: 10px;
	padding: 10px;
	border: 1px solid #5E88AD;
	box-shadow: 3px 3px 5px #4f799e;
}

.hide {
	display: none;
}
select {
 text-align: center;
 vertical-align: middle;
}